@model BarCrawl.Models.GoogleMapsModel

@{
    ViewData["Title"] = "RouteView";
}

<h1>RouteView</h1>

<div>
    <h4>GoogleMapsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HTMLInstructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HTMLInstructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maneuver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maneuver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>