@model List<Bar>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>

            <th>
                Price
            </th>

            <th>
                Rating
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Start", "Stops", "Home",
                   new
                        {
                            id = item.Id,
                            name = item.Name,
                            location = item.Location,
                            longitude = item.Longitude,
                            latitude = item.Latitude,
                            price = item.Price,
                            rating = item.Rating,
                        }, null)
            </td>

        </tr>
        }
    </tbody>
</table>