@model List<Bar>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>

            <th>
                Price
            </th>

            <th>
                Rating
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Start", "Stops", "Home",
                       new
                            {
                                id = item.Id,
                                name = item.Name,
                                location = item.Location,
                                longitude = item.Longitude,
                                latitude = item.Latitude,
                                price = item.Price,
                                rating = item.Rating,
                            }, null)
                </td>

            </tr>
        }
    </tbody>
</table>


@*Need to integrate the below url with list from DB*@


@*<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?origin=@Model[0].Name&destination=@Model[1].Name&waypoints=@Model[2].Name|@Model[3].Name&key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&mode=walking" allowfullscreen></iframe>

This can be deleted once integrated to the result view*@
