@model List<Bar>



<h2>Route Map</h2>
<header>
    <link rel="stylesheet" href="~/site.css" />
</header>

<div class="map-n-stuff">
    <div class="left">

        <iframe class="route-map" frameborder="1"
                src="@ViewBag.gmapurl"
                allowfullscreen></iframe>
        </iframe>

    </div>
<div class="right">
    <form asp-action="CreateCrawlDetail" method="post">
        <h2>Create</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Crawl Name:</label>
            <input name="name" id="name" class="form-control" required/>

        </div>
        <label for="datetime">Date and Time:</label><br />

        <input type="datetime-local" id="crawlDate"
               name="crawlDate" required><br />
        <br />
        Theme:
        <input type="text" name="Theme" id="Theme" placeholder="Optional" />
        <br />  
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
   </div>    
  
<br />

<div class="below">
    <h2>Route Stops</h2>
    <table class="table">

        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Price
                </th>
                <th>
                    Rating
                </th>




            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a href=@Html.DisplayFor(modelItem => item.Url) target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        <iframe width="600" height="100" frameborder="1" style="border:1"
                                src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&location=@item.Location&heading=210&pitch=5&fov=50" allowfullscreen></iframe>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Route</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Route
                </th>

            </tr>
        </thead>
        <tbody>


            @for (int i = 0; i < Model.Count() - 1; i++)
            {
                <tr>

                    <td>
                        <a href=@Html.DisplayFor(modelItem => Model[i].Url) target="_blank">@Html.DisplayFor(modelItem => Model[i].Name)</a>
                    </td>
                    <td>

                        <a href=@Html.DisplayFor(modelItem => Model[i+1].Url) target="_blank">@Html.DisplayFor(modelItem => Model[i + 1].Name) </a>


                    </td>
                    <td>

                        <iframe width="400" height="250" frameborder="1" style="border:1"
                                src="https://www.google.com/maps/embed/v1/directions?origin=@Model[i].Location&destination=@Model[i+1].Location&key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&mode=walking" allowfullscreen></iframe>

                    </td>

                </tr>
            }
        </tbody>
    </table>






</div>


