@model List<Bar>

<header>
    <iframe width="600" height="450" frameborder="1" style="border:1"
            src="https://www.google.com/maps/embed/v1/directions?origin=@Model[0].Name&destination=@Model[4].Name&waypoints=@Model[1].Name|@Model[2].Name|@Model[3].Name&key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&mode=walking" allowfullscreen></iframe>


</header>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
 
                    <iframe width="600" height="450" frameborder="1" style="border:1" src="https://maps.googleapis.com/maps/api/streetview?location=@Model[0].Location&size=456x456&key=AIzaSyBdac79PQX5UeDPlBxeExEgtE0dYxQmG8s&signature=HRbGAkzQc1i5fIWHMGuk8OctEPk="></iframe>
               

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
        }
    </tbody>
</table>

Would you like to Save/Share this Bar Crawl? Or reroll?

@Html.ActionLink("Save", "SaveCrawl", "Home",
                          new
                          {
                              crawl = Model
                          }, null)

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCrawlDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Name</label>
                <input name="name" id="name" class="form-control" />
                
            </div>
    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>