@model IEnumerable<BarCrawl.Models.Crawl>

@{
    ViewData["Title"] = "UserPage";
}

<h1>UserPage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CrawlID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CrawlID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                @Html.ActionLink("Details", "CrawlDetails", new { id = item.CrawlID })|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
